body {
    background-color:#F8EFED;
    font-family: "calibri";
  }

nav {
    background-color: #96858F;
    width: 1440;
    height: 69;
}

footer {
     background-color: #96858F;
     padding: 0px;
}


ul { 

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}

li{ 
    
    border-radius: 5px;
    display: inline;
    text-decoration-line: none;
}

#li1 {
    float: left;
    padding: 20px;
    background-color: #FFEBFE;
    margin: 20px;
  
}
#li2 {
     float: left;
     padding: 20px;
     background-color: #FFEBFE;
     margin: 20px
}
#li3 {
    float: right;
    padding: 20px;
    background-color: #FFEBFE;
    margin: 20px;
}

a {
    color:rgb(73, 70, 70);
    text-decoration-line: none;
    
}
a:hover {
    color: rgb(17, 16, 17);
}

main { 
    flex-direction: row;
}
.section1 {
    background-color: #7c7a7a;
    width: 500px;
    height: 550px;
    border: none;
    padding: 0px;
    margin: 2px;
    float: right;
    margin-top: -600px;
    margin-right: 100px;
    color:black

}

p  {
    font-size: 18px;
    color: #EEEEEE;
    text-align: justify;
    padding: 20px;
    line-height: 35px;
}

h1 {
    text-align:center;
    
}
.destacado {
    color: rgba(240, 229, 210, 0.904);
}

#name, #text  {
    background-color:#7c7a7a;
    font-weight: bold;
    padding: 40px;
}
#copyright {
     color: #FFFFFF;
}

